name: tick
args:
  - name: &name
      short: n
      long: name
      help: Set a name for this timer.
      takes_value: true
  - entry: &entry
      short: m
      long: message
      help: Set a message for this timer.
      takes_value: true
  - verbose:
      short: v
      long: verbose
      multiple: false
      help: Sets the level of verbosity.
subcommands:
  - start:
      about: Start a ticking timer.
      args:
        - name: *name
        - entry: *entry
  - stop:
      about: Stop a ticking timer.
      args:
        - name: *name
        - entry: *entry
  - status:
      about: Get the status of a running timer.
      args:
        - all:
            short: a
            long: all
            help: Show all running timers.
  - list:
      about: Get list of all the timers.
      args:
        - name: *name
  - remove:
      about: Remove a specific timer by id.
      args:
        - id:
            long: id
            help: The timer id to remove
            takes_value: true
